.authWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.authForm {
  width: 320px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.authForm input {
  padding: 10px;
}

.authForm button {
  padding: 10px;
  cursor: pointer;
}

.error {
  color: red;
}

.signupLink {
  color: #0070f3;
  cursor: pointer;
  text-decoration: underline;
}

.signupLink:hover {
  color: #005bb5;
}


.signupRow {
  display: flex;
  align-items: center;
  gap: 6px;
}